{
  "extends": [
    "eslint:recommended",
    "plugin:lodash/recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "plugins": [
    "import",
    "json",
    "lodash",
    "mocha",
    "react"
  ],
  "rules": {
    "import/newline-after-import": "off",
    "import/no-duplicates": "error",

    "lodash/prefer-lodash-method": "off",

    "react/jsx-boolean-value": "error",
    "react/jsx-closing-bracket-location": ["warn", "tag-aligned"],
    "react/jsx-curly-spacing": ["warn", "never"],
    "react/jsx-equals-spacing": "error",
    "react/jsx-first-prop-new-line": ["error", "multiline"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-no-comment-textnodes": "error",
    "react/jsx-no-target-blank": "error",
    "react/jsx-pascal-case": "warn",
    "react/jsx-space-before-closing": ["error", "always"],
    "react/jsx-wrap-multilines": "error",
    "react/no-danger": "warn",
    "react/no-danger-with-children": "warn",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-string-refs": "error",
    "react/no-unused-prop-types": "error",
    "react/prefer-es6-class": "error",
    "react/prefer-stateless-function": "error",
    "react/self-closing-comp": "error",
    "react/sort-comp": ["error", { "order": [ "constructor", "static-methods", "lifecycle", "everything-else", "render" ]}],
    "react/sort-prop-types": "error",
    "react/style-prop-object": "error",

    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "comma-dangle": ["error", "always-multiline"],
    "eol-last": "error",
    "eqeqeq": "error",
    "id-length": ["error", { "max": 32, "min": 2, "exceptions": ["i"] }],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "max-len": ["warn", { "code": 120 }],
    "no-duplicate-imports": "error",
    "no-else-return": "error",
    "no-eval": "error",
    "no-extra-bind": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-labels": "error",
    "no-multiple-empty-lines": "error",
    "no-param-reassign": "error",
    "no-return-assign": "error",
    "no-template-curly-in-string": "error",
    "no-trailing-spaces": "error",
    "no-unsafe-negation": "error",
    "no-useless-call": "error",
    "no-useless-computed-key": "error",
    "no-useless-concat": "error",
    "no-useless-escape": "error",
    "no-useless-rename": "error",
    "no-use-before-define": "error",
    "no-var": "error",
    "object-shorthand": ["error", "always"],
    "prefer-rest-params": "error",
    "prefer-template": "warn",
    "semi": "error",
    "semi-spacing": "error",
    "quotes": ["error", "single"],
    "quote-props": ["error", "consistent-as-needed"]
  }
}
